<h1 class="white center"> Producto guardado!</h1>

<h2 class="white"><%=@product.name %></h2>
<h2 class="white"><%=@product.brand.name %></h2>
<h2 class="white"><%=@product.description %></h2>
<h2 class="white"><%=@product.price %></h2>
<div class="btn white">
  <%=link_to "Ver todos los Productos",products_path,class:"btn be-red white"%>
</div>

<div class="btn white top-space">
  <%=link_to "Crear nuevo producto",new_product_path,class:"btn be-red white"%>
